html {
    margin: 5% 10%;
    zoom: 110%;
    
}

header {
    display: inline-block;
    background-color: burlywood;
    width: 100%;
    max-width: 100%;
    margin: 0px;
}

.nav {
    width: 100%;
}

#logo {
    font-weight: bold;
    margin-left: 2%;
    float: left;
    font-size: 1.24rem;
    flex-grow: 1;
}

header li {
    display: inline;
    float: right;
    padding : 2%;
    
}

/* This extra space aesthetic works for some reason. Reducing the frid-template to 3 makes the bottom shorter, but also less pleasing to interact with. */ 
main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(8, 1fr);
    background-color: antiquewhite;
    padding: 10%;
}

.aboutme {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 5%;
    background-color: crimson;
}

.projects {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 5%;
    background-color: coral;
}

.skills {
    height: 50%;
    grid-row-start: 3;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 1221;
    padding: 5%;
    background-color: #4c4c69;
}

i {
    font-size: 400%;
    word-spacing: 20%;
}

.skills li {
    display: inline;
    padding: 3%
}

.skills img {
    display: none;
}
footer {
    display: inline-flex;
    background-color: honeydew;
    height: 50%;
}

.profilepicture {
    grid-column-start: 7;
    border: hotpink;
    padding: 10%;
}

#ProPic {
    width: 300%;
    height: auto;
    border-radius: 25%;
}

image {
    height: 50%;
    width: auto;
}

.projects summary {
    text-decoration: underline;
}